
    <td class="wrapper">
      <table class="article">
        <tr>
          <td>
            <img src="https://www.iheartradio.ca/image/policy:1.15191851:1620999948/PROMCR-5181-Rouge-Top-Glacier-16X9.png?a=16%3A9&$p$a=5c1e67e" width="100%" height="auto" alt="Mailgun">

            <h3 class="">Example of an email with image asset.</h3>
            <p>You should upload your email images to a CDN, or for smaller file sizes you can also inline them.</p>
            {{> button type='secondary' url='https://github.com/leemunroe/grunt-email-workflow' title='Button (secondary)' }}

            {{> divider }}
            
          </td>
        </tr>
      </table>
    </td>
