
    <td class="wrapper">
      <table class="article">
        <tr>
          <td>
            <img src="{{article.imgUrl}}" width="100%" height="auto" alt="Mailgun">

            <h3 class="">{{{article.title}}}</h3>
            <p>{{{article.description}}}</p>
            {{> button type='secondary' }}
            
          </td>
        </tr>
      </table>
    </td>
