---
layout: default.hbs
subject: Infolettre programmation
---
<span class="preheader">Tout savoir sur la programation {{{hubspot.company_name}}} !</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="https://www.iheartradio.ca/rouge-fm/rouge-fm-montreal">
          <img src="https://www.iheartradio.ca/image/policy:1.12881601:1593788632/logo-107-3-Rouge.png?w=1080&$p$w=756d196" height="80" alt="logo {{hubspot.company_name}}">
        </a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  {{#each content.articles}}
    <tr>
      {{> article article=. }}
    </tr>
  {{/each}}
</table>

{{> footer }}