---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.mailgun.com">
          <img src="https://www.iheartradio.ca/image/policy:1.12881601:1593788632/logo-107-3-Rouge.png?w=1080&$p$w=756d196" height="50" alt="Mailgun">
        </a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    {{> article }}
    {{> article }}
    </tr>

  
</table>

{{> footer }}